<h1>Grafica Dinamica</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <h3>Temperatura</h3>
        <div style="display: block;">
            <canvas baseChart width="800" height="800" [datasets]="lineChartDataTemperatura" [labels]="lineChartLabels" [chartType]="'line'" [options]="lineChartOptions"></canvas>
        </div>
    </div>
    <div class="col-md-6">
        <h3>Humedad</h3>
        <div style="display: block;">
            <canvas baseChart width="800" height="800" [datasets]="lineChartDataHumedad" [labels]="lineChartLabels" [chartType]="'line'" [options]="lineChartOptions"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>PM10</h3>
        <div style="display: block;">
            <canvas baseChart width="800" height="800" [datasets]="lineChartDataPM10" [labels]="lineChartLabels" [chartType]="'line'" [options]="lineChartOptions"></canvas>
        </div>
    </div>
    <div class="col-md-6">
        <h3>PM2.5</h3>
        <div style="display: block;">
            <canvas baseChart width="800" height="800" [datasets]="lineChartDataPM25" [labels]="lineChartLabels" [chartType]="'line'" [options]="lineChartOptions"></canvas>
        </div>
    </div>
</div>